<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        2 ETIM D.S
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"> O 2 ETIM D.S É A MELHOR TURMA DA ETEC CIDADE DO LIVRO <code>.accordion-flush</code> class. ABRAÇO TURMA!!!.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        COMIDA
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">MACARRÃO Á BOLANHESA É A MELHOR COMIDA QUE EXISTE <code>.accordion-flush</code> class. AMO.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        FILME
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">A FRANQUIA VELOZOS  E FURIOSOS É A MELHOR QUE EXSTE <code>.accordion-flush</code> class. NÃO GOSTOU? ME PROCESSA!.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        ESPORTE
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">FUTEBOL É VIDA <code>.accordion-flush</code> class. PSG VAI SER CAMPEÃO DA CHAMPION LEAGUE!.</div>
    </div>
  </div>
</div>

<h1>CLASSIFICAÇÃO SISU</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">nome</th>
      <th scope="col">colocação</th>
      <th scope="col">situação</th>
     >
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Miguel</td>
      <td>2-lugar</td>
      <td>ativo</td>


    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jonas</td>
      <td>3-lugar</td>
      <td>ativo</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Luis</td>
      <td>15-lugar</td>
      <td>desativado</td>

    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Neymar</td>
      <td>5-posição</td>
      <td>ativo</td>

    </tr>
  </tbody>
</table>

<div class="form-floating mb-3 formulario">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email </label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Senha</label>
</div>

<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="assets/macarrão.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">A origem do macarrão é incerta, mas o que se pode afirmar é que vem da antiguidade. Uma das primeiras referências sobre uma pasta cozida à base de cereais e água remete aos povos da Assíria e da Babilônia, em 2.500 a.C.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="assets/psg-paris-saint-germain.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Ao chegar na primeira divisão da Liga Francesa, em 1970, a equipe não se deu bem. Foram altos e baixos durante o percurso. Apenas em 1973 o francês se consolidou na primeira divisão e lá permanece até hoje.

          O primeiro título conquistado pelo Paris Saint-Germain aconteceu em 1981/82, sendo a Taça da França contra o rival Saint-Étienne. A partir daí, o clube se estabilizou no futebol francês. No ano seguinte, mais um título na mesma competição contra o Nantes.</p>
      </div>
    </div>
  </div>

</div>
